
    <div class="cards m-2 p-3">
      <% @bathrooms.each do |bathroom| %>
            <div class="card-category" style="width: 18rem; ">
              <img src="..." class="card-img-top" alt="...">

              <h3> <%= bathroom.title %> </h3>
              <h5> <%= bathroom.address %> </h5>
              <p> <%= bathroom.content %> </p>
              <h5> <%=bathroom.price %> </h5>
              <a href="#" class="btn btn-primary"> Take a Bath </a>
            </div>
      <% end %>
    </div>

   <%# d-flex justify-content-between align-items-center m-5 font-8 %>
