<br>
<div class="container">
  <div class="header d-flex my-3">My Dashboard</div>
    <div class="row">
      <div class="col-12">
        <div class="cards">
          <% @bathrooms.each do |bathroom| %>
                <div class="card">
                  <div class="card-img" style="background-image:
                        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
                        url(<%= cl_image_path bathroom.photo.key %>)" >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title"><%= bathroom.title %></h5>
                    <p class="card-text"><%= bathroom.content %></p>

                    <div class="d-flex justify-content-between">
                      <%= link_to "See more information", bathroom_path(bathroom), class: "button btn btn-gradient rounded-1" %>
                    </div>
                  </div>
                </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
