<br>
<div class="container">
  <div class="header d-flex my-3">Feedback from our clients</div>
    <div class="row">
      <div class="col-12">
      <ul>
        <div class="cards">
          <% @reviews.each do |review| %>
          <li>
                <div class="card">
                  <div class="card-img" style="background-image:
                        linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
                        url(<%= cl_image_path review.bathroom.photo.key %>)" >
                  </div>

                  <div class="card-body">
                    <h5 class="card-title"><%= review.bathroom.title %></h5>
                    <p class="card-text"> <%= review.comment %></p>
                  </div>
                </div>
          </li>
          <% end %>
        </div>
      </ul>
      </div>
    </div>
  </div>
</div>
