
<div class="banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.acquaviva.in/images/slider01.jpg);">
  <div class="container">
    <h2>FlashBath</h2>
    <br>
    <p>The fastest & easiest way to find a fancy and relaxable bathroom around you</p>
    <a class="button btn btn-gradient" <%= link_to "All Bathrooms", bathrooms_path %> </a>
  </div>
</div>


<div class="card">

</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/bathrooms_of_insta/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/LuxuryBathroomsBlog/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/bathroomsluxury"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-at"></i> <a href="mailto:flashbath@flashbath.com">Contact Us</a>
  </div>
</div>
