
<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('cloudinary');">
  <div class="container">
  <img src="" alt="">
    <h1>Flashbath</h1>
    <p>The easiest way to find a fancy and relaxable bathroom around you!!</p>
  </div>
</div>
    <a class="btn btn-success" href="#">All Bathrooms</a>
