
<div class="banner"
     style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.acquaviva.in/images/slider01.jpg);">
  <div class="container header">
    <h2>FlashBath</h2>
    <br>
    <p>The fastest & easiest way to find a fancy and relaxable bathroom around you</p>
    <a class="button btn btn-gradient rounded-1" <%= link_to "Explore Bathrooms", bathrooms_path %> </a>
  </div>
</div>

<div class="container">
<br>
  <div class="header d-flex justify-content-around my-3">Discover FlashBath Experiences</div>
    <div class="row">
      <div class="cards">
        <div class="card-img" style="background-image:
              linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)),
              url(https://www.acquaviva.in/images/slider01.jpg); >
        </div>

        <div class="card-body">
          <h5 class="card-title">Title 1</h5>
          <p class="card-text">Title 2</p>

          <div class="d-flex justify-content-between">
            <p class="card-text"><strong>Title 3 </strong></p>
            <%= link_to "Experiences", bathrooms_path, class: "button btn btn-gradient rounded-1" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://www.instagram.com/bathrooms_of_insta/"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com/LuxuryBathroomsBlog/"><i class="fab fa-facebook"></i></a>
    <a href="https://twitter.com/bathroomsluxury"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    <i class="fas fa-at"></i> <a href="mailto:flashbath@flashbath.com">Contact Us</a>
  </div>
</div>
